ARK_API_KEY=
CAMERA_RENDER_CAMERA_NAME="MacBook Air相机"
CAMERA_RENDER_CAMERA_BACKEND=imagesnap
CAMERA_RENDER_CHROME_TRIGGER_MODE=launch_or_focus
CAMERA_RENDER_AUTO_PRINT=1
CAMERA_RENDER_PRINT_MEDIA=4x6.Fullbleed
CAMERA_RENDER_DATA_DIR="$HOME/Documents/Chrome-Camera-Anime"
CAMERA_RENDER_OUTPUT_DIR="$HOME/Documents/Chrome-Camera-Anime/outputs"
CAMERA_RENDER_STATE_DIR="$HOME/Documents/Chrome-Camera-Anime/state"
CAMERA_RENDER_LOGS_DIR="$HOME/Documents/Chrome-Camera-Anime/logs"
CAMERA_RENDER_CAMERA_CACHE_DIR="$HOME/Documents/Chrome-Camera-Anime/localmac-camera"
CAMERA_RENDER_CONSOLE_PORT=8795
CAMERA_RENDER_BRIDGE_PORT=9795
OPENCLAW_PRINTER_BRIDGE_PORT=9771
